# Configuration file for InvasIC architecture

# Generic many-core configuration file inspired by Intel Xeon Phi (KNC)
#include kingscross

# One DRAM controller per core
[perf_model/dram]
num_controllers = -1
chips_per_dimm = 1
dimms_per_controller = 1

# Cores connected in a ring structure, one core per socket
[network/emesh_hop_by_hop]
dimensions = 1             # Mesh dimensions (1 for line/ring, 2 for mesh/torus)
wrap_around = true         # Has wrap-around links? (false for line/mesh, true for ring/torus)
size =

[perf_model/l2cache]

